<launch>
	<param name="filename" value="test.ply" />
	<param name="is_cropped" value="false" />
	<param name="is_transformed" value="false" />
	<param name="pub_rate" value="1" />
	<param name="is_once" value="false" />
    <node pkg="gocator_publisher" type="gocator_publisher" name="gocator_publisher" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gocator_publisher)/param/rviz/default.rviz" />
</launch>