<launch>
	<param name="filename" value="1_not_ordered_0.1mm.ply" />
	<param name="is_cropped" value="false" />
	<param name="is_transformed" value="true" />
	<param name="rotation_theta" value="5"/><!-- rotation along z axis in deg -->
	<param name="translation" value="0"/><!-- translation along z axis in mm -->
	<param name="pub_rate" value="1" />
	<param name="is_once" value="true" />
	
	<param name="iterations" value="1"/>
	<param name="template_filename" value="1_not_ordered_0.1mm.ply" />
	
	<node pkg="measure_node" type="measure_node" name="measure_node" output="screen"/>

    <node pkg="gocator_publisher" type="gocator_publisher" name="gocator_publisher" output="screen"/>

<!--     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gocator_publisher)/param/rviz/default.rviz" /> -->
</launch>